#postsContainer {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: auto;
  }

  
  .post {
    border: 1px solid white;
    padding: 20px;
    margin-bottom: 10px;
  }
  